In [321]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
import matplotlib
%matplotlib inline

In [322]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
from example.census import clean_census_data
features, output = clean_census_data()

In [2]:
features[:10]

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass- ?,workclass- Federal-gov,workclass- Local-gov,workclass- Never-worked,workclass- Private,...,native-country- Portugal,native-country- Puerto-Rico,native-country- Scotland,native-country- South,native-country- Taiwan,native-country- Thailand,native-country- Trinadad&Tobago,native-country- United-States,native-country- Vietnam,native-country- Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,37,14,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6,49,5,0,0,16,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,52,9,0,0,45,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,31,14,14084,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9,42,13,5178,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [7]:
DATA_TO_USE, _ = train_test_split(df, train_size=0.7, random_state=42)

GET THE FEATURE NAMES

In [11]:
cls = RandomForestClassifier(min_samples_leaf = 10, random_state=42, max_depth=20, n_estimators=40)

In [12]:
DATA_TO_USE, _, OUTPUT_TO_USE, _ = train_test_split(features, output, random_state=42, train_size=0.7)

In [13]:
TRAIN_FEATURES, TEST_FEATURES, TRAIN_OUTPUT, TEST_OUTPUT = train_test_split(DATA_TO_USE, OUTPUT_TO_USE, random_state=42, train_size=0.7)

In [14]:
cls.fit(TRAIN_FEATURES, TRAIN_OUTPUT)
predicted = cls.predict(TEST_FEATURES)
predicted_probs = cls.predict_proba(TEST_FEATURES).transpose()[1]
predicted = pd.Series(predicted, index=TEST_OUTPUT.index)
predicted.name = 'predicted'

In [15]:
from sklearn.metrics import precision_score, recall_score

In [16]:
print precision_score(TEST_OUTPUT, predicted)
print recall_score(TEST_OUTPUT, predicted)

0.794960903562
0.560318432333

In [288]:
misclassified_indices = TEST_OUTPUT[(TEST_OUTPUT != predicted)].index
misclassified_features = TEST_FEATURES[np.nonzero((TEST_OUTPUT != predicted).values)]
misclassified_features = np.array(misclassified_features)

In [273]:
(TEST_OUTPUT != predicted).index

Int64Index([28626, 22861, 24015, 14057, 13317, 17290, 20528, 25528,  3311,
            17156,
            ...
            30734, 10069, 26851, 13183,  7637,  3029,  2648, 16646,  7655,
            16330],
           dtype='int64', length=6838)

In [23]:
misclassified_df = df.ix[misclassified_indices].join(predicted)

In [24]:
def distribution(variable):
    print "whole dataset"
    print df[variable].value_counts() * 100.0 / len(df[variable])
    print "\nmisclassified"
    print misclassified_df[variable].value_counts() * 100.0 / len(misclassified_df[variable])

In [47]:
import numba
def distribution(instance):
    preds = np.zeros(len(cls.estimators_))
    for i, est in enumerate(cls.estimators_):
        preds[i] = est.predict(instance)[0]
    return pd.Series(preds).value_counts()

In [87]:
%%timeit
cls.predict(misclassified_features[0])

100 loops, best of 3: 2.23 ms per loop

In [49]:
distribution(misclassified_features[0])

1    38
0     2
dtype: int64

In [50]:
cols = [x for x in df.columns if x != 'fnlwgt']

In [51]:
to_group = df
to_group['age'] = np.floor((to_group['age']/ 5)) * 5
counted = to_group.groupby(cols).size().reset_index()
counted[counted[0] > 2]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,0
12,15,?,10th,6,Never-married,?,Own-child,White,Female,0,0,20,United-States,<=50K,3
19,15,?,10th,6,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K,5
20,15,?,10th,6,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K,11
40,15,?,11th,7,Never-married,?,Own-child,White,Female,0,0,20,United-States,<=50K,3
42,15,?,11th,7,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,3
51,15,?,11th,7,Never-married,?,Own-child,White,Male,0,0,25,United-States,<=50K,4
55,15,?,11th,7,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K,5
98,15,?,HS-grad,9,Never-married,?,Own-child,White,Female,0,0,20,United-States,<=50K,3
110,15,?,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K,4
113,15,?,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K,3
137,15,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,20,United-States,<=50K,6
138,15,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,25,United-States,<=50K,4
140,15,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,5
141,15,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,35,United-States,<=50K,4
142,15,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,40,United-States,<=50K,13
157,15,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K,4
160,15,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K,16
164,15,?,Some-college,10,Never-married,?,Own-child,White,Male,0,0,60,United-States,<=50K,3
231,15,Private,10th,6,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,20,United-States,<=50K,3
256,15,Private,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States,<=50K,3
259,15,Private,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,15,United-States,<=50K,4
276,15,Private,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,<=50K,4
279,15,Private,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K,6
282,15,Private,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,30,United-States,<=50K,3
283,15,Private,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K,4
298,15,Private,10th,6,Never-married,Sales,Own-child,White,Female,0,0,12,United-States,<=50K,4
301,15,Private,10th,6,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K,6
326,15,Private,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,15,United-States,<=50K,3
328,15,Private,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States,<=50K,3
355,15,Private,11th,7,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23305,60,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K,3
23324,60,Private,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,3
23395,60,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,3
23397,60,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K,3
23405,60,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K,3
23450,60,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K,4
23486,60,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,14
23487,60,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K,4
23488,60,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,>50K,3
23501,60,Private,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,3
23504,60,Private,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K,3
23514,60,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K,10
23522,60,Private,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K,5
23533,60,Private,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K,3
23539,60,Private,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,4
23555,60,Private,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K,7
23556,60,Private,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K,3
23656,60,Private,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K,4
23687,60,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K,3
23701,60,Private,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K,3
23716,60,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,5
23717,60,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K,3
23798,60,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,3
23839,60,Self-emp-not-inc,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,3
24109,65,?,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K,3
24142,65,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K,3
24190,65,?,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K,3
24301,65,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,3
24345,65,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,3
24771,70,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K,3

In [52]:
cat = df[(df.age >= 30) & (df['hours-per-week'] >= 40) & (df.occupation == ' Exec-managerial') & (df.education == ' HS-grad') & (df.workclass == ' Private') & (df.relationship == ' Husband') & (df.race == ' White')]
print cat.salary.value_counts()
cat.sort('age', ascending=True)

 >50K     100
 <=50K     73
dtype: int64

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
27589,30,Private,225053,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
26368,30,Private,381153,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
26087,30,Private,167990,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Ireland,<=50K
8814,30,Private,159255,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
27447,30,Private,344200,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
4265,30,Private,34104,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,3103,0,55,United-States,>50K
7672,30,Private,99309,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
4143,30,Private,223327,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
4095,30,Private,45604,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,54,United-States,<=50K
24792,30,Private,243165,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
27694,30,Private,236599,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
6775,30,Private,238912,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
20256,30,Private,197424,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,5013,0,40,United-States,<=50K
15218,30,Private,144064,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,62,United-States,<=50K
12357,30,Private,164190,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
28498,30,Private,154087,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
14741,30,Private,205152,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,3103,0,40,United-States,>50K
12900,30,Private,195576,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,4386,0,60,United-States,<=50K
8342,30,Private,198211,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
13105,30,Private,260560,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
21247,30,Private,187618,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
30283,30,Private,242984,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,45,United-States,>50K
30467,30,Private,129020,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
31005,30,Private,167474,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
824,30,Private,110331,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1672,60,United-States,<=50K
14560,30,Private,222221,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,45,United-States,>50K
22152,30,Private,39054,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,65,United-States,>50K
14745,30,Private,336061,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
8425,35,Private,48268,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States,<=50K
8816,35,Private,186934,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16763,55,Private,106740,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
17197,55,Private,239523,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
17986,55,Private,181220,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
24107,55,Private,100313,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,40,United-States,>50K
31952,55,Private,317969,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
19152,55,Private,114495,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
12739,55,Private,27385,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
6248,55,Private,83196,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
32125,55,Private,165881,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
27290,55,Private,75785,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
20931,55,Private,68624,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
5985,55,Private,119558,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
21213,55,Private,147707,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
21710,55,Private,179781,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
25445,55,Private,127779,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
270,60,Private,69867,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
14956,60,Private,136262,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
267,60,Private,21174,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
15718,60,Private,162825,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
28735,60,Private,155256,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
3369,60,Private,149653,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
27652,60,Private,79827,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
4238,60,Private,195453,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
26567,60,Private,210488,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
12539,60,Private,191446,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,40,United-States,>50K
30731,65,Private,211162,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
23550,65,Private,95303,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
9567,65,Private,155261,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
7498,70,Private,211075,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
23464,70,Private,152307,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2377,45,United-States,>50K

In [215]:
import forestspy
spy = forestspy.ForestSpy(cls, feature_names)

# predict node ids

In [188]:
for _ in range(1000):

    spy.predict_nodes(misclassified_fbeatures[0])

NameError: name 'misclassified_fbeatures' is not defined

In [214]:
%%timeit
spy.predict_nodes(misclassified_features[0])

10000 loops, best of 3: 61.7 Âµs per loop

In [262]:
import forestspy
spy = forestspy.ForestSpy(cls, feature_names)
spy.predict_nodes(misclassified_features[8])

[91,
 132,
 324,
 84,
 149,
 124,
 251,
 214,
 200,
 290,
 377,
 182,
 322,
 179,
 26,
 312,
 252,
 195,
 172,
 160,
 228,
 103,
 187,
 272,
 233,
 162,
 293,
 344,
 73,
 107,
 133,
 260,
 159,
 141,
 100,
 132,
 167,
 240,
 327,
 152]

In [250]:
import forestspy
spy = forestspy.ForestSpy(cls, feature_names)
%lprun -f spy.predict_nodes -f spy.trees[0].node -f spy.trees[0].predicted_node spy.predict_nodes(misclassified_features[0])

In [251]:
def f():
    for _ in xrange(1000):
        spy.predict_nodes(misclassified_features[0])

In [253]:
%lprun -f spy.predict_nodes -f spy.trees[0].node -f spy.trees[0].predicted_node f()

In [310]:
misclassified_node_ids = pd.DataFrame((spy.predict_nodes(f) for f in np.array(misclassified_features)))
train_node_ids = pd.DataFrame((spy.predict_nodes(f) for f in np.array(TRAIN_FEATURES)))
test_node_ids = pd.DataFrame((spy.predict_nodes(f) for f in np.array(TEST_FEATURES)))

In [305]:
misclassified_node_ids[1].value_counts()[:5]

132    337
236    115
218     33
238     25
258     22
dtype: int64

In [306]:
train_node_ids[1].value_counts()[:5]

132    2443
167     986
236     870
218     786
159     624
dtype: int64

In [309]:
df = test_df[test_node_ids[1] == 258]
nontrivial_columns = df.columns[(df[:5] != 0).any()]
df[nontrivial_columns]

,age,education-num,capital-gain,hours-per-week,workclass- Federal-gov,workclass- Private,workclass- Self-emp-not-inc,marital-status- Divorced,marital-status- Never-married,occupation- Adm-clerical,occupation- Exec-managerial,occupation- Farming-fishing,occupation- Sales,relationship- Not-in-family,race- White,sex- Male,native-country- United-States,salary
63,34,13,0,45,0,1,0,0,1,0,0,0,1,1,1,1,1,0
266,54,13,27828,50,0,0,1,1,0,0,0,1,0,1,1,1,1,1
355,50,13,0,50,0,1,0,0,1,0,1,0,0,1,1,1,1,1
714,45,13,0,55,1,0,0,0,1,1,0,0,0,1,1,1,1,1
824,43,13,0,60,0,1,0,0,1,0,0,0,1,1,1,1,1,1
845,50,13,0,50,0,1,0,1,0,0,1,0,0,1,1,0,1,1
1119,41,13,0,50,0,1,0,1,0,0,1,0,0,1,1,1,1,1
1157,35,13,8614,45,0,1,0,0,1,0,1,0,0,1,1,1,1,1
1165,43,13,0,50,0,1,0,1,0,0,0,0,1,1,1,0,1,0
1418,48,13,0,50,0,1,0,0,1,0,1,0,0,1,1,1,1,0
1424,46,13,0,45,0,0,0,0,1,0,1,0,0,1,1,1,1,0
1595,30,13,0,99,0,0,0,0,1,0,0,0,0,1,0,0,1,0
1657,42,13,0,55,0,1,0,1,0,0,1,0,0,1,1,0,1,1
2078,44,13,0,50,0,0,0,1,0,0,0,0,0,1,1,1,1,0
2136,31,13,0,55,0,1,0,0,1,0,1,0,0,1,1,1,1,0
2168,47,13,0,65,0,0,1,0,1,0,0,1,0,1,1,1,1,0
2243,47,13,0,45,0,1,0,1,0,0,0,0,1,1,1,1,1,0
2430,47,13,0,60,0,1,0,0,1,0,0,0,1,1,0,1,1,1
2539,39,13,0,50,0,1,0,0,1,0,1,0,0,1,1,1,1,1
2700,43,13,0,50,0,1,0,0,1,0,0,0,1,1,1,1,1,0
2862,32,13,0,48,0,1,0,0,1,1,0,0,0,1,1,0,1,0
2875,31,13,0,55,0,0,1,0,1,0,0,0,0,1,1,1,1,0
2887,43,13,0,45,0,1,0,1,0,0,1,0,0,1,1,1,1,1
2980,62,13,10520,50,0,1,0,0,0,0,1,0,0,1,1,1,1,1
3046,49,13,0,45,0,0,1,0,1,0,0,0,1,1,1,1,1,0
3058,30,13,6849,60,0,0,1,0,0,0,0,0,0,1,1,1,1,0
3220,31,13,0,50,0,1,0,0,1,1,0,0,0,1,1,1,1,0
3271,56,13,14084,45,0,1,0,0,1,0,1,0,0,1,1,1,1,1
3324,46,13,0,50,0,0,0,1,0,0,0,0,0,1,0,1,1,1
3371,31,13,0,50,0,0,0,0,1,0,1,0,0,1,1,0,1,0
3444,38,13,6849,60,0,1,0,1,0,0,1,0,0,1,1,1,1,0
3447,50,13,4416,45,0,0,1,0,1,0,0,0,0,1,1,1,1,0
3607,43,13,0,45,0,0,1,0,1,0,0,0,1,1,1,1,1,0
3614,50,13,0,55,1,0,0,1,0,0,1,0,0,1,1,1,1,1
3870,31,13,0,50,1,0,0,1,0,0,0,0,0,1,1,1,1,1
4026,40,13,0,55,0,1,0,0,1,0,0,0,1,1,0,0,1,1
4274,33,13,0,50,0,1,0,0,1,1,0,0,0,1,1,0,1,0
4421,45,13,0,45,0,1,0,1,0,0,1,0,0,1,1,1,1,0
4425,34,13,0,50,0,1,0,0,1,0,1,0,0,1,1,1,1,0
4514,33,13,0,52,0,0,0,0,1,0,0,0,0,1,0,1,1,1
4626,54,13,0,60,0,1,0,1,0,0,0,0,1,1,0,0,1,0
4715,35,13,0,50,0,1,0,0,1,0,1,0,0,1,1,1,1,0
4835,32,13,0,55,0,1,0,0,1,0,1,0,0,1,1,1,1,1
4913,33,13,0,50,0,0,0,0,1,0,1,0,0,1,1,0,1,0
4969,30,13,0,55,0,1,0,0,1,0,1,0,0,1,1,1,1,1
4990,31,13,0,70,0,1,0,0,0,0,1,0,0,1,1,0,1,0
5068,49,13,0,56,0,1,0,0,1,0,1,0,0,1,1,0,1,1
5111,50,13,0,55,0,1,0,1,0,0,1,0,0,1,1,1,1,1
5122,32,13,0,45,0,1,0,1,0,0,0,0,1,1,1,1,1,0
5397,50,13,0,55,0,1,0,1,0,0,1,0,0,1,1,1,1,1
5545,39,13,0,45,0,1,0,0,1,0,1,0,0,1,1,1,1,0
5827,90,13,0,55,0,1,0,0,1,0,1,0,0,1,1,1,1,0
5879,32,13,0,60,0,1,0,1,0,0,0,0,0,1,0,1,1,1
5891,52,13,0,60,0,1,0,1,0,0,0,0,1,1,1,1,1,0
5905,32,13,13550,48,0,1,0,0,1,0,1,0,0,1,1,1,1,1
6075,37,13,0,45,0,1,0,0,1,0,0,0,1,1,1,1,1,0
6307,47,13,0,51,0,1,0,1,0,0,0,0,0,1,1,1,1,1
6429,44,13,0,60,0,0,1,1,0,0,1,0,0,1,1,1,1,0
6444,34,13,0,45,0,1,0,0,0,1,0,0,0,1,1,0,1,0
6519,30,13,0,55,0,1,0,0,1,0,1,0,0,1,1,0,1,0

In [295]:
node_ids[0].value_counts()[:5]

91     254
231     62
135     59
108     41
298     36
dtype: int64

In [269]:
node_ids[4].value_counts()

402    5884
149     954
dtype: int64

In [81]:
test_df = pd.DataFrame(TEST_FEATURES, columns=feature_names, index=TEST_OUTPUT.index)
test_df['salary'] = TEST_OUTPUT
test_df.index = range(len(test_df))

In [217]:
len(node_ids)

15954

In [243]:
nids = node_ids[:2000].values
@numba.autojit(nopython=True)
def f(nids):
    arr = np.zeros(shape=(len(nids), len(nids)))
    for i in xrange(len(nids)):
        for j in xrange(len(nids)):
            for node_idx in range(40):
                if nids[i][node_idx] == nids[j][node_idx]:
                    arr[i][j] += 1
    return arr

In [244]:
%%timeit
f(node_ids[:100].values)

The slowest run took 224.93 times longer than the fastest. This could mean that an intermediate result is being cached
1000 loops, best of 3: 733 Âµs per loop

In [223]:
node_ids.values[i]

array([[228, 159, 123, ..., 269,  16, 143],
       [151, 238, 401, ..., 213, 343, 152],
       [163,  25, 288, ..., 199, 250, 152],
       ...,
       [187, 186,  28, ...,  22,  55,  18],
       [192, 127, 275, ..., 214, 131, 152],
       [ 98,  26, 419, ..., 205, 333, 152]])

In [216]:
distances = pd.DataFrame(index=node_ids.index)
for i in node_ids.index:
    distances[i] = (node_ids != node_ids.ix[i]).astype(int).sum(axis=1)

KeyboardInterrupt:

In [62]:
len(distances)

6838

In [63]:
def smush_cliques(cliques, ids):
    ids = set(ids)
    disjoint_cliques = [ids]
    for c in cliques:
        if c.intersection(ids):
            ids.update(c)
        else:
            disjoint_cliques.append(c)
    return disjoint_cliques
cliques = list()
for i in distances.columns:
    near_ids = set(distances[i][distances[i] < 10].index)
    cliques = smush_cliques(cliques, near_ids)
cliques = list(reversed(sorted(cliques, key=len)))

In [134]:
b

1

In [132]:
a, b = df.ix[0]

In [130]:
df = pd.DataFrame({'s': [1,2,3], 'a': [2,3,3]})

In [64]:
def similarity_df(clique_id):
    indices = list(cliques[clique_id])
    return similarity_df_indices(indices)
def similarity_df_indices(indices):
    similar_df = pd.DataFrame(my_test_features[indices], columns=feature_names, index=indices)
    similar_df['pred'] = np.array(predicted)[similar_df.index]
    similar_df['pred_prob'] = np.array(predicted_probs)[similar_df.index]
    similar_df['actual'] = np.array(TEST_OUTPUT)[similar_df.index]
    return similar_df
def filtered_similarity_df_indices(indices):    
    similar_df = similarity_df_indices(indices)
    nontrivial_columns = similar_df.columns[(similar_df != 0).any()]
    similar_df = similar_df[nontrivial_columns]
    similar_df['pred'] = np.array(predicted)[similar_df.index]
    similar_df['pred_prob'] = np.array(predicted_probs)[similar_df.index]
    similar_df['actual'] = np.array(TEST_OUTPUT)[similar_df.index]
    return similar_df
def filtered_similarity_df(clique_id):
    indices = list(cliques[clique_id])
    return filtered_similarity_df_indices(indices)
#similarity_df(1)

In [65]:
def get_prediction_accuracy(clique_index):
    df = similarity_df(clique_index)
    pct_wrong = np.count_nonzero(df.actual != df.pred) * 100.0 / len(df)
    pct_rich = np.sum(df.pred) * 100.0 / len(df)
    pct_exec = np.count_nonzero(df['occupation- Exec-managerial'] == 1) * 100.0 / len(df)
    pct_sales = np.count_nonzero(df['occupation- Sales'] == 1) * 100.0 / len(df)
    return pct_wrong, len(df), pct_rich, pct_exec, pct_sales

In [66]:
accuracy_df = pd.DataFrame((get_prediction_accuracy(i) for i in range(len(cliques[:100]))), 
                           columns=['pct_wrong', 'size', 'pct_rich', 'pct_exec', 'pct_sales'])

In [ ]:
%%

In [84]:
node_ids[0].value_counts()[:10]

91     746
11     421
108    214
182    191
135    186
231    169
151    150
61     149
318    140
79     138
dtype: int64

In [85]:
indices = node_ids[0] == 11
test_df[indices]

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass- ?,workclass- Federal-gov,workclass- Local-gov,workclass- Never-worked,workclass- Private,...,native-country- Puerto-Rico,native-country- Scotland,native-country- South,native-country- Taiwan,native-country- Thailand,native-country- Trinadad&Tobago,native-country- United-States,native-country- Vietnam,native-country- Yugoslavia,salary
41,19,9,2176,0,45,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
44,23,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
53,22,10,0,0,30,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
66,21,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
72,18,10,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
117,17,8,0,0,12,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
125,19,6,0,0,25,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
127,23,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
179,19,9,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
190,23,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
231,23,9,0,0,16,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
272,21,9,0,0,44,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
278,21,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
284,22,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
344,22,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
345,24,9,0,0,98,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
346,28,10,0,0,50,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
350,24,10,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
374,22,9,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
378,22,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
379,23,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
380,26,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
384,22,10,0,0,35,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
388,20,10,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
393,23,9,0,1590,48,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
409,20,10,0,0,16,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
425,22,10,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
435,17,7,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
445,21,10,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
453,19,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,21,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6325,23,8,0,0,30,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6329,22,10,0,0,15,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6340,19,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6343,24,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6375,17,7,0,0,30,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6407,22,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6410,18,10,0,0,10,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6413,21,10,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6445,18,7,0,0,70,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6448,25,10,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6481,27,5,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6511,25,10,0,0,55,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6518,26,10,0,0,30,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6535,19,4,0,0,80,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6537,26,9,0,0,50,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6550,19,9,0,0,30,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6552,21,10,0,0,43,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6596,23,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6613,20,10,0,1602,15,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6689,20,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6738,23,9,0,0,30,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6741,26,9,0,0,35,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6787,20,7,0,0,15,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6795,21,10,0,0,20,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6805,25,10,0,0,42,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6809,27,9,0,0,48,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6810,27,9,0,0,40,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
6822,20,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6835,21,9,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [67]:
accuracy_df

    pct_wrong  size    pct_rich  pct_exec   pct_sales
0   33.568905   283    0.000000         0    0.000000
1    0.523560   191    0.000000         0   15.706806
2    0.000000   153    0.000000         0   45.098039
3    0.000000   100    0.000000         0    0.000000
4   24.444444    90   97.777778         0    0.000000
5   15.714286    70    0.000000         0    0.000000
6    0.000000    69    0.000000         0    0.000000
7   30.882353    68    7.352941         0  100.000000
8   12.068966    58  100.000000       100    0.000000
9   43.181818    44   54.545455       100    0.000000
10  39.024390    41   97.560976       100    0.000000
11  26.829268    41  100.000000         0  100.000000
12  19.512195    41    0.000000         0    0.000000
13  14.634146    41    0.000000         0    0.000000
14   0.000000    39    0.000000         0    0.000000
15   0.000000    38    0.000000         0    0.000000
16  25.000000    36  100.000000       100    0.000000
17  33.333333    36    0.000000         0  100.000000
18   2.941176    34    0.000000         0    0.000000
19   0.000000    32  100.000000       100    0.000000
20   0.000000    31    0.000000         0    0.000000
21  48.387097    31    0.000000         0    0.000000
22   0.000000    31    0.000000         0    0.000000
23   0.000000    28    0.000000         0    0.000000
24  50.000000    28    0.000000         0    0.000000
25  18.518519    27    0.000000         0    0.000000
26   0.000000    25    0.000000       100    0.000000
27   8.000000    25    0.000000         0    0.000000
28   0.000000    24  100.000000         0    0.000000
29   0.000000    23    0.000000         0   73.913043
..        ...   ...         ...       ...         ...
70   0.000000    10    0.000000         0    0.000000
71   0.000000    10    0.000000         0   70.000000
72   0.000000    10    0.000000         0    0.000000
73   0.000000    10    0.000000         0    0.000000
74  40.000000    10    0.000000         0    0.000000
75   0.000000     9    0.000000         0    0.000000
76  11.111111     9    0.000000         0  100.000000
77   0.000000     9    0.000000         0    0.000000
78  44.444444     9   77.777778         0  100.000000
79  11.111111     9  100.000000         0    0.000000
80   0.000000     9    0.000000         0    0.000000
81  11.111111     9  100.000000         0    0.000000
82   0.000000     9  100.000000       100    0.000000
83  22.222222     9    0.000000       100    0.000000
84  11.111111     9    0.000000         0    0.000000
85   0.000000     9    0.000000         0    0.000000
86  22.222222     9    0.000000         0    0.000000
87   0.000000     9    0.000000         0   77.777778
88  12.500000     8    0.000000       100    0.000000
89   0.000000     8    0.000000         0    0.000000
90   0.000000     8    0.000000         0    0.000000
91   0.000000     8    0.000000         0    0.000000
92   0.000000     8    0.000000         0    0.000000
93  25.000000     8    0.000000         0    0.000000
94   0.000000     8    0.000000         0    0.000000
95  37.500000     8  100.000000         0    0.000000
96  62.500000     8  100.000000         0    0.000000
97  25.000000     8    0.000000         0    0.000000
98  12.500000     8    0.000000         0    0.000000
99   0.000000     8    0.000000       100    0.000000

[100 rows x 5 columns]

In [887]:
s = pd.Series(np.array(predicted) != np.array(TEST_OUTPUT))
misclassified_df = pd.DataFrame(s, columns=['misclassified'])
clique_indices = pd.Series(index=misclassified_df.index)
for i, clique in enumerate(cliques):
    for member in clique:
        clique_indices[member] = i
misclassified_df['clique'] = clique_indices

In [898]:
misclassified_df[misclassified_df.misclassified]

     misclassified  clique
1             True     137
3             True     730
4             True      24
7             True     731
8             True       4
9             True       0
13            True      27
14            True     733
15            True      98
16            True      55
28            True     262
29            True     141
31            True       0
45            True     167
47            True     747
52            True      96
54            True      21
67            True      17
87            True      43
96            True     262
105           True     150
109           True      81
114           True      46
122           True      24
136           True     770
139           True     773
146           True     109
164           True     783
165           True     198
170           True     785
...            ...     ...
6633          True     154
6635          True    2984
6639          True     155
6641          True       0
6655          True     195
6656          True      21
6657          True       4
6664          True      11
6665          True    2992
6667          True       0
6668          True    2993
6677          True     706
6683          True    2997
6692          True       0
6694          True      12
6713          True       0
6735          True    3014
6746          True      17
6751          True    3018
6755          True       8
6765          True     714
6770          True    3026
6771          True       4
6790          True       5
6796          True       0
6821          True      17
6824          True    3043
6828          True       0
6833          True    3048
6837          True     728

[954 rows x 2 columns]

In [904]:
i = 6751
filtered_similarity_df_indices(list(distances[i][distances[i] < 30].index))

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass- ?,workclass- Private,workclass- Self-emp-not-inc,workclass- State-gov,marital-status- Married-civ-spouse,...,race- White,sex- Female,sex- Male,native-country- Dominican-Republic,native-country- England,native-country- South,native-country- United-States,pred,pred_prob,actual
496,31,13,0,1902,40,0,0,1,0,1,...,1,1,0,0,0,0,1,1,0.677906,1
595,37,13,0,0,37,0,1,0,0,1,...,1,1,0,0,0,0,1,1,0.597780,1
718,33,13,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.660854,1
1674,27,13,0,0,45,0,1,0,0,1,...,0,1,0,0,0,0,1,1,0.526672,1
1756,33,13,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.660854,1
1817,26,13,0,0,40,0,0,0,1,1,...,0,0,1,0,0,0,1,0,0.469448,1
2028,57,13,0,0,40,0,1,0,0,1,...,1,1,0,0,0,0,1,1,0.599278,0
2167,27,10,0,0,40,0,1,0,0,1,...,1,1,0,0,0,0,1,0,0.433253,1
2220,30,13,0,0,50,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.626121,1
2481,27,13,0,0,40,0,1,0,0,1,...,1,0,1,1,0,0,0,1,0.500186,0
2535,27,13,0,0,40,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0.482158,0
2629,31,14,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.643340,1
3000,27,9,0,0,40,0,1,0,0,1,...,1,1,0,0,0,0,1,0,0.427790,0
3912,26,10,0,0,35,0,1,0,0,1,...,1,1,0,0,0,0,1,0,0.429638,0
4056,90,13,0,0,40,0,1,0,0,1,...,1,1,0,0,1,0,0,1,0.552118,1
4178,27,13,0,0,24,1,0,0,0,1,...,1,1,0,0,0,0,1,0,0.404007,1
4188,47,13,0,0,40,0,1,0,0,1,...,1,1,0,0,0,0,1,1,0.610366,1
4414,32,13,0,0,40,0,1,0,0,1,...,1,1,0,0,0,0,1,1,0.588541,1
4685,33,15,0,0,40,0,1,0,0,1,...,1,1,0,0,0,0,1,1,0.602500,1
4838,32,13,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.660854,1
4933,29,13,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.569789,1
5032,26,13,0,0,55,0,1,0,0,1,...,1,1,0,0,0,0,1,1,0.554299,1
5176,26,13,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,0,0.479029,0
6020,28,13,3103,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,1,0.507988,1
6751,29,13,0,0,40,0,1,0,0,1,...,1,0,1,0,0,0,1,0,0.492811,1
6833,28,14,0,0,40,0,0,0,1,1,...,1,0,1,0,0,0,1,1,0.511546,0

In [863]:
accuracy_df[:20]

    pct_wrong  size    pct_rich  pct_exec   pct_sales
0   33.568905   283    0.000000         0    0.000000
1    0.523560   191    0.000000         0   15.706806
2    0.000000   153    0.000000         0   45.098039
3    0.000000   100    0.000000         0    0.000000
4   24.444444    90   97.777778         0    0.000000
5   15.714286    70    0.000000         0    0.000000
6    0.000000    69    0.000000         0    0.000000
7   30.882353    68    7.352941         0  100.000000
8   12.068966    58  100.000000       100    0.000000
9   43.181818    44   54.545455       100    0.000000
10  39.024390    41   97.560976       100    0.000000
11  26.829268    41  100.000000         0  100.000000
12  19.512195    41    0.000000         0    0.000000
13  14.634146    41    0.000000         0    0.000000
14   0.000000    39    0.000000         0    0.000000
15   0.000000    38    0.000000         0    0.000000
16  25.000000    36  100.000000       100    0.000000
17  33.333333    36    0.000000         0  100.000000
18   2.941176    34    0.000000         0    0.000000
19   0.000000    32  100.000000       100    0.000000

In [864]:
filtered_similarity_df(0)

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass- Private,marital-status- Married-civ-spouse,occupation- Craft-repair,relationship- Husband,race- White,sex- Male,native-country- Mexico,native-country- United-States,pred_prob,actual,pred
6146,28,9,0,0,50,1,1,1,1,1,1,0,1,0.256721,0,0
9,49,9,0,0,40,1,1,1,1,1,1,0,1,0.351920,1,0
4108,42,9,0,0,50,1,1,1,1,1,1,0,1,0.400345,1,0
1037,41,9,0,0,40,1,1,1,1,1,1,0,1,0.322436,1,0
1197,26,10,2829,0,40,1,1,1,1,1,1,0,1,0.219756,0,0
1044,30,9,0,0,40,1,1,1,1,1,1,0,1,0.189404,1,0
2072,53,10,0,0,36,1,1,1,1,1,1,0,1,0.302259,1,0
31,54,9,0,0,40,1,1,1,1,1,1,0,1,0.351920,1,0
1058,27,9,0,0,45,1,1,1,1,1,1,0,1,0.235523,1,0
3111,46,10,3103,0,60,1,1,1,1,1,1,0,1,0.400234,1,0
1073,26,9,5013,0,60,1,1,1,1,1,1,0,1,0.253164,0,0
1077,37,10,0,0,40,1,1,1,1,1,1,0,1,0.298930,0,0
1078,53,9,0,0,40,1,1,1,1,1,1,0,1,0.351920,1,0
2106,26,11,0,0,65,1,1,1,1,1,1,0,1,0.281990,1,0
2113,30,10,0,0,40,1,1,1,1,1,1,0,1,0.230011,1,0
3139,33,10,0,1740,40,1,1,1,1,1,1,0,1,0.250825,0,0
5188,41,10,0,0,56,1,1,1,1,1,1,0,1,0.389318,1,0
5197,47,9,0,0,40,1,1,1,1,1,1,0,1,0.333598,1,0
6222,36,9,0,0,64,1,1,1,1,1,1,0,1,0.346390,1,0
3958,24,9,0,0,44,1,1,1,1,1,1,1,0,0.200929,0,0
6231,28,9,0,0,43,1,1,1,1,1,1,0,1,0.215881,0,0
88,27,9,0,0,60,1,1,1,1,1,1,0,1,0.251270,0,0
2139,59,9,0,0,40,1,1,1,1,1,1,0,1,0.349827,0,0
3169,31,9,0,0,40,1,1,1,1,1,1,0,1,0.223138,0,0
2149,33,9,0,0,40,1,1,1,1,1,1,0,1,0.219364,1,0
6250,56,9,3103,0,40,1,1,1,1,1,1,0,1,0.351920,1,0
6251,33,10,0,0,40,1,1,1,1,1,1,0,1,0.257004,0,0
530,38,9,0,0,45,1,1,1,1,1,1,0,1,0.338990,0,0
1134,26,9,0,0,45,1,1,1,1,1,1,0,1,0.230815,0,0
112,44,10,0,0,40,1,1,1,1,1,1,0,1,0.339164,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,39,9,0,0,35,1,1,1,1,1,1,0,1,0.246999,0,0
6006,53,9,0,0,40,1,1,1,1,1,1,0,1,0.351920,0,0
2937,63,9,0,0,40,1,1,1,1,1,1,0,1,0.322887,0,0
319,34,12,0,0,65,1,1,1,1,1,1,0,1,0.380113,0,0
3965,33,9,0,0,40,1,1,1,1,1,1,0,1,0.219364,0,0
3967,37,10,0,0,40,1,1,1,1,1,1,0,1,0.298930,1,0
1920,55,10,0,0,40,1,1,1,1,1,1,0,1,0.362512,0,0
1924,34,9,0,0,35,1,1,1,1,1,1,0,1,0.210886,0,0
1926,34,10,0,0,40,1,1,1,1,1,1,0,1,0.280094,1,0
2958,29,9,0,0,40,1,1,1,1,1,1,0,1,0.183827,0,0
3055,35,10,0,0,50,1,1,1,1,1,1,0,1,0.339385,0,0
5029,49,9,5013,0,60,1,1,1,1,1,1,0,1,0.339718,0,0
5036,57,10,0,0,40,1,1,1,1,1,1,0,1,0.362512,1,0
945,37,10,0,0,35,1,1,1,1,1,1,0,1,0.259467,0,0
2996,47,10,0,1485,47,1,1,1,1,1,1,0,1,0.401562,0,0
6069,39,9,0,0,40,1,1,1,1,1,1,0,1,0.289197,1,0
5054,43,10,0,0,45,1,1,1,1,1,1,0,1,0.399252,1,0
6083,27,9,0,0,40,1,1,1,1,1,1,0,1,0.179099,0,0
4048,31,10,0,1579,40,1,1,1,1,1,1,0,1,0.254600,0,0
2001,41,10,0,0,60,1,1,1,1,1,1,0,1,0.391808,0,0
4053,33,9,0,0,40,1,1,1,1,1,1,0,1,0.219364,0,0
5080,24,9,0,0,44,1,1,1,1,1,1,0,1,0.220587,0,0
4944,26,9,0,0,48,1,1,1,1,1,1,0,1,0.229248,0,0
2018,34,9,0,0,40,1,1,1,1,1,1,0,1,0.246986,0,0
4067,29,10,0,0,60,1,1,1,1,1,1,0,1,0.288180,0,0
4263,40,9,0,0,50,1,1,1,1,1,1,0,1,0.359077,0,0
2031,44,10,0,0,60,1,1,1,1,1,1,0,1,0.400234,1,0
2035,38,9,0,0,40,1,1,1,1,1,1,0,1,0.289197,0,0
1013,26,9,0,0,40,1,1,1,1,1,1,0,1,0.177117,0,0
6142,49,9,3103,0,45,1,1,1,1,1,1,0,1,0.409506,1,0

In [850]:
accuracy_df[accuracy_df.pct_wrong > 20].sort('pct_wrong', ascending=False)

     pct_wrong  size    pct_rich    pct_exec  pct_sales
37  100.000000     4    0.000000    0.000000   0.000000
23   77.777778     9    0.000000  100.000000   0.000000
33   50.000000     4    0.000000    0.000000   0.000000
39   50.000000     4  100.000000    0.000000   0.000000
17   34.782609    23   13.043478    0.000000   0.000000
28   33.333333     6   83.333333    0.000000   0.000000
3    30.739300   257   82.101167    0.000000   0.000000
4    30.454545   220   12.727273   17.272727   9.545455
2    27.415144   383   78.590078  100.000000   0.000000
1    25.670945  1714   12.660443    0.000000  18.203034
10   23.333333    60   86.666667    0.000000   3.333333
7    20.212766    94    0.000000  100.000000   0.000000

In [815]:
filtered_similarity_df(0).describe()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass- Federal-gov,workclass- Local-gov,workclass- Private,workclass- Self-emp-inc,workclass- Self-emp-not-inc,...,native-country- Canada,native-country- Ecuador,native-country- Germany,native-country- Jamaica,native-country- Mexico,native-country- United-States,native-country- Vietnam,pred,pred_prob,actual
count,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,...,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000
mean,42.765766,9.639640,217.518018,68.432432,43.972973,0.013514,0.040541,0.779279,0.040541,0.112613,...,0.004505,0.004505,0.004505,0.009009,0.004505,0.963964,0.004505,0.121622,0.336892,0.306306
std,11.906844,2.057072,857.793886,334.145621,11.000172,0.115720,0.197669,0.415670,0.197669,0.316833,...,0.067116,0.067116,0.067116,0.094701,0.067116,0.186801,0.067116,0.327587,0.122331,0.462000
min,21.000000,2.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.134539,0.000000
25%,33.000000,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.238942,0.000000
50%,42.000000,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.319196,0.000000
75%,53.000000,10.000000,0.000000,0.000000,50.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.407099,1.000000
max,79.000000,14.000000,5013.000000,1887.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.629803,1.000000

In [751]:
accuracy_df

    pct_wrong  size    pct_rich
0    3.233256   433    0.692841
1   27.821522   381   35.170604
2   29.538462   325   22.769231
3   12.500000   112    6.250000
4    3.092784    97    0.000000
5   35.869565    92   40.217391
6    0.000000    86    0.000000
7   25.925926    54   81.481481
8    0.000000    42    0.000000
9    7.894737    38    0.000000
10   3.225806    31    0.000000
11   0.000000    29    0.000000
12  39.285714    28   25.000000
13  50.000000    28   67.857143
14  22.222222    27   81.481481
15   0.000000    27    0.000000
16   3.846154    26    0.000000
17   9.090909    22   95.454545
18   5.000000    20   90.000000
19   0.000000    18    0.000000
20  11.111111    18    0.000000
21   5.882353    17  100.000000
22   0.000000    16    0.000000
23   0.000000    16    0.000000
24  12.500000    16    0.000000
25   0.000000    16    0.000000
26   6.250000    16   18.750000
27   0.000000    14    0.000000
28   0.000000    14   28.571429
29  50.000000    14  100.000000
30   0.000000    13    0.000000
31  30.769231    13    0.000000
32   0.000000    12    0.000000
33  58.333333    12    0.000000
34   0.000000    11    0.000000
35  10.000000    10    0.000000
36  10.000000    10    0.000000
37   0.000000    10    0.000000
38   0.000000    10    0.000000
39  11.111111     9   77.777778

In [695]:
get_prediction_accuracy(1)

/home/bork/.conda/lib/python2.7/site-packages/sklearn/metrics/classification.py:958: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0